<% content_for :page_title do %>
  <%= link_to Spree.t(:templates), admin_theme_templates_path(@theme) %> /
  <%= File.join(@template.path, @template.name) %>
<% end %>

<% content_for :head do %>
  <%= javascript_include_tag 'spree/backend/editor' %>
  <%= stylesheet_link_tag 'spree/backend/editor' %>
<% end %>

<div data-hook='template-editor'>
  <%= render partial: 'editor' %>
</div>
