<% content_for :head do %>
  <%= javascript_include_tag 'spree/backend/jquery.treemenu' %>
  <%= stylesheet_link_tag 'spree/backend/jquery.treemenu' %>

  <%= javascript_include_tag 'spree/backend/editor' %>
  <%= stylesheet_link_tag 'spree/backend/editor' %>
<% end %>

<% content_for :page_title do %>
  <%= link_to Spree.t(:templates), admin_themes_path %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_template), new_admin_theme_template_url, class: "btn-success", icon: 'add', id: 'admin_new_theme_template_link' %>
<% end %>

<!-- Search -->
<div class="inner-addon left-addon">
  <i class="glyphicon glyphicon-search"></i>
  <input type='text' id='search-input' class='form-control' placeholder='Search for templates...'>
</div>

<!-- <table class="table" id="listing_templates" data-hook='admin_templates_listing_table'>
  <thead>
    <tr data-hook="admin_templates_index_headers">
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:path) %></th>
      <th><%= Spree.t(:format) %></th>
      <th><%= Spree.t(:handler) %></th>
      <th data-hook="admin_templates_index_header_actions" class="actions"></th>    
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'template', collection: @templates %>
  </tbody>
</table> -->

<div id="tree-menu-sidebar">
  <% filepath = File.join(Rails.root, 'public', 'vinsol_spree_themes', @theme.name) %>
  <%= display_filetree_structure(@theme, filepath).html_safe %>
</div>

<%= render partial: 'editor' %>

<%= javascript_include_tag 'spree/backend/search.js' %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#tree-menu-sidebar ul:first').addClass('tree');
    $(".tree").treemenu({delay:500});
  });
</script>