<!-- LISTING ALL THE THEMES -->
<div class="themes-container">
  <% @themes.all.each do |theme| %>
    <div class="theme theme-col col-md-4 col-sm-6 <%= theme.state %>">
      <div class="theme-block">
        <div class="thumbnail cmn-height-block">
          <%= link_to image_tag(snapshot_path(theme)), admin_theme_templates_path(theme), class: 'img-responsive theme-image' %>
        </div>

        <div class="theme-content">
          <div class="theme-name-area">
            <h2 class="theme-name"><%= theme.name %></h2>
            <div class="theme-state <%= theme.state %>">
              <span class="label label-complete <%= theme.state %>"><%= theme.state %></span>
            </div>
          </div>

          <div class="action-btn-block">
            <% if theme.drafted? %>
              <%= link_to state_change_admin_theme_path(theme, state: 'compiled'), method: :patch, class: 'btn btn-default btn-sm with-tip', title: '', 'data-original-title' => Spree.t('actions.compiled') do %>
                <span class="glyphicon glyphicon-film"></span>
              <% end %>
            <% elsif theme.compiled? %>
              <%= link_to state_change_admin_theme_path(theme, state: 'published'), method: :patch, class: 'btn btn-default btn-sm with-tip', title: '', 'data-original-title' => Spree.t('actions.published') do %>
                <span class="glyphicon glyphicon-eye-open"></span>
              <% end %>
              <!-- <span class="glyphicon glyphicon-bullhorn"></span> -->
            <% end %>
            
            <% unless theme.published? %>
              <%= link_to admin_theme_path(theme), method: :delete, class: 'btn btn-danger btn-sm  with-tip action-delete no-text', title: '', 'data-original-title' => 'Delete', data: { confirm: 'Are you sure?' } do %>
                <span class="icon icon-delete"></span>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="theme-action-view">
          <%= link_to admin_theme_templates_path(theme) , class: 'btn btn-primary btn-sm' do %>Theme Templates<% end %>
          <%= link_to download_admin_theme_path(theme), method: :patch, class: 'btn btn-primary btn-sm action-download no-text', title: '', 'data-original-title' => Spree.t('actions.download') do %>
              Download Theme
          <% end %>
        </div>
      </div>
   </div>
  <% end %>
</div>

<%= paginate @themes %>
